.idea/

.gradle
snippet/build
snippet/gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Work in progress
snippet/src/main/java/sort/quicksort/

# JUnit console launcher standalone
junit-platform-console-standalone-1.4.0-M1
